*{
    box-sizing: border-box;
}


.img-top{
    width: 150px;
    height:150px;
    margin-top: 20px;    
}
.title{
    margin-top: 5px;
    margin-bottom: 5px;
    color: aliceblue;
    font-family: 'El Messiri', sans-serif;
    
}

.checked {
    color: orange;
  }
.checked2{
    color:aliceblue;
}
.img-wrapper{
    background:linear-gradient(to left,#564545,rgb(0, 0, 0)),transparent center/cover;
    width: 100%;
}
.startag{
    position: absolute;
    margin-left: 50%;
    top: 100px;
    color: aliceblue;
    font-family: 'Gochi Hand', cursive;
}
.form-control{
    width: 200px;
    border-radius:0rem;
}
.searchbtn-front{
    width: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    
}

.bg-secondnavbar{
    background-color: #fd5b6c;
}

.firstnavbar{
   height: 70px; 
}
 .logoschange{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 25px;
    left: 20px;
}
.myfooter{
    background: #35322d;
    color:#fff;
}